.app__navbar {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  padding: 1rem 2rem;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo img {
  max-width: 100%;
  @media (min-width: 992px) {
    max-width: 200px;
  }
  @media (min-width: 1200px) {
    max-width: 300px;
  }
}
.app__navbar-links {
  display: none;
  @media (min-width: 992px) {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      margin: 0 1rem;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        color: var(--color-grey);
      }
    }
  }
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & a {
    margin: 0 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease;
    border-bottom: 1px solid transparent;
    &:hover {
      color: var(--color-golden);
      border-bottom: 1px solid var(--color-golden);
    }
  }
  div {
    width: 1px;
    height: 30px;
    background-color: var(--color-grey);
  }
}
.app__navbar-smallscreen {
  margin-left: auto;
  @media (min-width: 992px) {
    display: none;
  }
}
.app__navbar-smallscreen_burger {
  cursor: pointer;
}
.app__navbar-smallscreen_links {
  list-style: none;
  & li a {
    transition: 0.5s ease;
    &:hover {
      color: var(--color-golden);
    }
  }
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 2;
  & .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
