.app__footer-links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}
.app__footer-headtext {
  color: var(--color-white);
  font-family: var(--font-base);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 130%;
  font-size: 2rem;
}
.app__footer-links_contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}
.app__footer-contact {
  color: var(--color-grey) !important;
  font-family: var(--font-alt);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
.app__footer-links_logo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
  flex: 1;
}
.app__footer-links_logo .app__footer-headtext {
  color: var(--color-golden);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.app__footer-links_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.5rem;
  color: var(--color-golden);
}

.app__footer-links_work {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  flex: 1;
}

.app__footer-hours {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.footer__copyright {
  text-align: center;
  color: var(--color-grey);
  font-family: var(--font-alt);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 175%;
  font-size: 1rem;
}
