.app__newsletter {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.app__newsletter--header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.app__newsletter--header .subheading {
  align-items: center;
}

.app__newsletter--title {
  margin: 8px 0 24px 0;
}
.app__newsletter--form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.app__newsletter--form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: auto;
  @media (min-width: 576px) {
    flex-direction: row;
    gap: 32px;
  }
}
.app__newsletter--form-input {
  background-color: transparent;
  border: 1px solid var(--color-golden-light);
  padding: 16px 18px;
  color: var(--color-golden);
  font-family: var(--font-base);
  font-size: 1rem;
  width: 100%;
}

.app__newsletter--form-input::placeholder {
  font-family: var(--font-base);
  font-size: 1rem;
  color: var(--color-grey);
}
.app__newsletter--form-input:focus {
  outline: 2px solid var(--color-golden-light);
  border-radius: 2px;
}
.app__newsletter--form-error {
  font-family: var(--font-alt);
  color: var(--color-error);
}
.app__newsletter--form button {
  max-width: unset;
  @media (min-width: 576px) {
    max-width: fit-content;
  }
}

.app__newsletter--form-success-text {
  font-family: var(--font-base);
  color: var(--color-golden-light);
  font-size: 2rem;
  text-align: center;
}
