.app__aboutus {
  position: relative;
}

.app__aboutus--overlay {
  position: absolute;
  inset: 0;
  img {
    width: 50vw;
    object-fit: cover;
    z-index: 0;
    @media (min-width: 992px) {
      width: 390px;
      height: 415px;
    }
  }
}
.app__aboutus--content_knife {
  img {
    max-width: 60%;
    max-height: 90vh;
    @media (min-width: 992px) {
      max-width: unset;
      max-height: 70vh;
    }
    @media (min-width: 1200px) {
      max-height: 700px;
    }
  }
}
.app__aboutus--content {
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  @media (min-width: 992px) {
    gap: 4rem;
  }
}
.app__aboutus--content_about,
.app__aboutus--content_history {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.app__aboutus--content_about {
  @media (min-width: 992px) {
    align-items: end;
    text-align: right;
  }
}

.app__aboutus--content_about-heading,
.app__aboutus--content_history-heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  img {
    width: 40px;
  }
}

.app__aboutus--content_about-heading {
  @media (min-width: 992px) {
    align-items: end;
    text-align: right;
  }
  img {
    @media (min-width: 992px) {
      transform: rotate(180deg);
    }
  }
}
